html, body{
  margin: 0;
  padding: 0;
}
.main{
  background-color: silver;
  width: 100%;
  height: 98vh;
  padding-top: 2vh;
}
#table{
  background-color: #f7f7f7;
  width: 70%;
  margin: auto;
  border-radius: 100px;
}
/*--------------------------------*/
/*PLAYERS*/
.players{
  display: flex;
  justify-content: space-around;
}
.player{
  width: 450px;
  height: 350px;
}
/*--------------------------------*/
/*CARDS*/
#cards{
  width: 1200px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: -35px;
}
.persCards{
  display: flex;
  justify-content: space-around;
}
.card,
.persCard{
  width: 147px;
  height: 200px;
  border: solid black 1px;
  border-radius: 10px;
  margin-top: 20px;
}
#playersBottom,
#playersBottom .persCard{
  transform: rotate(180deg);
}
/*--------------------------------*/
/*BETS*/
.bet{
  width: 90px;
  height: 90px;
  border: solid black 1px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
}
/*--------------------------------*/
/*BUTTONS*/
#btnPlay{
  background-color: darkgrey;
  width: 20%;
  height: 10vh;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  line-height:10vh;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: black 5px 5px 5px;
  color: blue;
}
#btns{
  width: 100%;
  height: 10vh;
  margin-top: 30px;
  display: none;
}
.btns div:hover,
#btnPlay:hover{
  cursor: pointer;
  color: black;
  border: solid black 1px;
  box-shadow: black 2px 2px 2px;
}
.btns{
  width: 90%;
  height: 10vh;
  margin-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  line-height: 10vh;
}
.btns div{
  border: solid black 1px;
  width: 20%;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: black 5px 5px 5px;
}
